.everything-wrapper {
    background-color: white;
    /*max-width: 320px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    
}

.dropdown {
    display: flex;
    align-items: center;
    background: black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    
}
.dropdown select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-right: 15px;
    width: 30%;
}
.dropdown button {
    padding: 10px;
    background-color: #c7370b;
    color: white;
    border-radius: 5px;
    width: 30%;
  }
.dropdown button:hover {
    background-color: #f30909
}

.showtime-container {
    display: flex;
    align-items: center;
    background: black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
  }
  
  .block {
    background-color: #c0c0c0;
    width: 30%; 
    height: 50px;
    margin: 20px; 
    border-radius: 5px;
    display: inline-block; 
    
  }
  .block p {
    text-align: center;
    
  }