.actionButton, .leaveGroupButton, .deleteGroupButton, .removeMemberButton, .acceptRequestButton, .rejectRequestButton, .toggleVisibilityButton {
    display: inline-flex;  /* Overrides inline-block and allows better alignment features */
    width: auto;           /* Resets width to only be as wide as necessary */
    padding: 8px 10px;     /* Adjusts padding, make sure it's suitable for your design */
    border-radius: 4px;    /* Maintains visual consistency with rounded corners */
    cursor: pointer;       /* Ensures cursor changes to pointer on hover */
    font-size: 12px;       /* Adjusts font size to fit smaller buttons */
    color: #fff;           /* Text color */
    background-color: #2196F3; /* Background color */
    margin-left: 10px;     /* Adds spacing between buttons */
    justify-content: center; /* Centers text and icons inside the button */
}

.groupContainer {
    background: #deceff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.groupHeader {
    color: #333;
    font-size: 24px;
}

.groupDescription {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.membersHeader,
.requestsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0056b3;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.toggleButtonSpan {
    margin-left: 10px;
}

.membersList,
.requestsList {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #deceff;
    overflow: hidden;
}

.memberItem, .requestItem {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

/* Flexbox setup for layout */
.memberItem > span, .requestItem > span {
    flex-grow: 1; /* Allows the username span to take up any extra space */
}


.memberItem:hover,
.requestItem:hover {
    background-color: #fff;
    color: #333;
    cursor: default;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.actionButton {
    padding: 8px 10px; /* Adjust horizontal padding to make buttons narrower */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px; /* Optionally adjust font size for smaller buttons */
    color: #fff;
    background-color: #2196F3;
    margin-left: 10px; /* Ensures spacing between buttons if next to each other */
}

.actionButton:hover {
    opacity: 0.9;
}

.leaveGroupButton {
    background-color: #ff5722;
}

.deleteGroupButton {
    background-color: #f44336;
}

.removeMemberButton {
    background-color: #f44336;
}

.acceptRequestButton {
    background-color: #4caf50;
}

.rejectRequestButton {
    background-color: #f44336;
}

.toggleVisibilityButton {
    background-color: #2196F3;
    color: #FFFFFF;
}

