.search-form {
  margin: 0 auto 5px auto;
  display: flex;
  justify-content: center; /* center the box to middle of the screen */
}

.group-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 360px)); /* fit columns between 240px and 300px */
  gap: 20px; /* padding between items */
  padding: 10px; /* padding up */
  width: 100%;
  justify-content: center;
}

.group-list-item {
  display: flex;
  flex-direction: column; /* Stacks the title, description, and button vertically */
  justify-content: space-between; /* Ensures spacing is distributed, and button stays at the bottom */
  background-color: #6f36e9;
  border-radius: 5px; 
  padding: 15px; /* Padding around the content */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: relative;
  width: 360px; /* Fixed width for each item */
  height: 260px; /* Fixed height for each item */
}
  
.group-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px; /* Space between title and description */
  color: #000000; /* Darker text color for better readability */
  text-align: center; /* Center the title */
}

.group-description {
  font-size: 18px;
  color: #181818; /* Lighter text color for descriptions */
  overflow: hidden; /* Hides text that exceeds the height */
  text-overflow: ellipsis; /* Adds '...' to indicate more text */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 1.4; /* Adjust line height for better readability */
  max-height: 8em; /* Max height = line-height * number of lines */
}

.join-request-btn {
  margin-top: auto; /* Pushes the button to the bottom of the container */
  padding: 10px 20px;
  background-color: #4CAF50; /* A nice green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for interaction */
}

.join-request-btn:hover {
  background-color: #45a049; /* A slightly darker green on hover */
}

.join-request-btn:active {
  transform: scale(0.98); /* Slightly shrink when the button is clicked */
}

.error-message {
  color: #cc0000; /* Red color for errors to catch user's attention */
  font-size: 16px;
  text-align: center; /* Centering error message */
}