.group-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.group-list-item {
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

